<div class="profile-page sidebar-collapse">
  <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand">
          BatScream </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.facebook.com/PClementLloyd" target="_blank" data-original-title="Add me on Facebook">
              <i class="fa fa-facebook-square"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.linkedin.com/in/clementlloyd/" target="_blank" data-original-title="Add me on LinkedIn">
              <i class="fa fa-linkedin-square"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.quora.com/profile/Clement-Lloyd-P" target="_blank" data-original-title="Add me on Quora">
              <i class="fa fa-quora"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://stackoverflow.com/users/1617024/batscream" target="_blank" data-original-title="My Contributions on SO">
              <i class="fa fa-stack-overflow"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://github.com/BatScream" target="_blank" data-original-title="My Contributions on github">
              <i class="fa fa-github"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/mountain.jpg');"></div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar">
                <img src="../assets/img/faces/clement.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid">
              </div>
              <div class="name">
                <h3 class="title">Clement Lloyd Pounrajan</h3>
                <h6>Software Engineer</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="description text-center">
          <p>A programmer by passion and a developer by profession.</p>
        </div>
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile-tabs">
              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" href="#work" role="tab" data-toggle="tab">
                    <i class="material-icons">laptop_mac</i> Work
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#travel" role="tab" data-toggle="tab">
                    <i class="material-icons">flight_takeoff</i> Travel
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#social" role="tab" data-toggle="tab">
                    <i class="material-icons">group</i> Social
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-content tab-space">
          <div class="tab-pane active text-center gallery" id="work">
            <div class="row">
              <div class="col-md-3 ml-auto mr-auto">
                <img src="../assets/img/work.jpg" class="rounded">
              </div>
            </div>
          </div>
          <div class="tab-pane text-center gallery" id="travel">
            <div class="row">
              <div class="col-md-3 ml-auto mr-auto">
                <img src="../assets/img/travel.jpg" class="rounded">
              </div>
            </div>
          </div>
          <div class="tab-pane text-center gallery" id="social">
            <div class="row">
              <div class="col-md-3 ml-auto mr-auto">
                <img src="../assets/img/social.jpg" class="rounded">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer footer-default">
    <div class="container">
      <div class="copyright float-right">
        &copy; BatScream
      </div>
    </div>
  </footer>
  </div>

